<div class="container text-center d-flex justify-content-center align-items-center" style="height: 500px;">
  <div>
    <h1>About</h1>
    <div style="font-size: 120%;">
      <p>
        このMovie Liblalyは</br>
      映画・ドラマ・アニメといった様々な動画の</br>
      感想を投稿し合うサイトです。</br>
      様々な動画を投稿し合い、交流し、</br>
      新たな面白い動画を発見しましょう！！！！
      </p>
    </div>
       <%= link_to "感想一覧へ", movies_path, class:"btn btn-dark" %>
 </div>
</div>