<div class="container">
  <div style = "text-align: center">
    
    <h1 class="px-3 mx-auto">About</h1>
    <h4>
      このMovie Liblalyは</br>
      映画・ドラマ・アニメといった様々な動画の</br>
      感想を投稿し合うサイトです。</br>
      様々な動画を投稿し合い、交流し、</br>
      新たな面白い動画を発見しましょう！！！！
    </h4>
    
  </div>
  
</div>