<div class="homes_body">

  <div class="container center-block">
    <div class="text-center align-middl ">
    <h2>ようこそ、Movie Liblalyへ</h2>
    <p>
      ここでは様々な動画、</br>
      映画、ドラマ、アニメなどの感想を</br>
      投稿して、様々な人と交流しましょう！！
    </p>
    </div>
    <div class="text-center align-middl">
      <%= link_to "ようこそ、Movie Liblaly", movies_path, class:"btn btn-success" %>
    </div>
    
  </div>

</div>