<div class="container text-center d-flex justify-content-center align-items-center" style="height: 500px;">
  <div>
    <h1>ようこそ、Movie Liblalyへ</h1>
    <div style="font-size: 120%;">
      <p>
        ここでは様々な動画、</br>
        映画、ドラマ、アニメなどの感想を</br>
        投稿して、様々な人と交流しましょう！！
      </p>
    </div>
       <%= link_to "ようこそ、Movie Liblaly", movies_path, class:"btn btn-dark" %>
 </div>
</div>
